/**************************** SOURCES ****************************/

.loading__sources__container {
  @apply w-full h-[34px] md:h-[79px] border border-gray-600 rounded-[4px] p-2 flex flex-col justify-center gap-2
  animate-pulse md:animate-none;
  background: linear-gradient(90deg, #525151 0%, #313131 100%);
}

@media (min-width: 768px) {
  .loading__sources__container {
    background: none;
  }
}

.loading__sources__line {
  @apply w-full h-[10px] rounded-md animate-pulse hidden md:block;
  background: linear-gradient(90deg, #525151 0%, #313131 100%);
}

.loading__sources__footer {
  @apply w-full justify-center items-center gap-2 hidden md:flex;
}

.loading__sources__dot {
  @apply w-[15px] h-[15px] rounded-full bg-gray-600 animate-pulse hidden md:block;
}

/**************************** IMAGES ****************************/

.loading__images__container {
  @apply image-card-container animate-pulse;
  background: linear-gradient(69deg, #7A7A7A -14.41%, rgba(94, 94, 94, 0.00) 104.98%);
}

/**************************** TEXT ****************************/

.loading__text__line {
  @apply w-full h-[10px] rounded-md animate-pulse;
  background: linear-gradient(90deg, #525151 0%, #313131 100%);
}
