.table {
  @apply w-full border-separate border-spacing-0
  overflow-x-auto relative table-fixed min-w-[900px];
}

thead {
  @apply sticky top-0 left-0 z-[1];
}

.table__head {
  @apply p-4 bg-gray-50
  border border-gray-200 border-r-0 first:border-l-0
  first:rounded-tl-lg last:rounded-tr-lg
  text-xs font-semibold text-gray-500 uppercase truncate select-none;

  /* &:last-child {
    @apply  text-center;
  } */
}

.table__sort-icon {
  @apply w-[10px] flex flex-col items-center justify-center text-gray-300;
}

.table__sort-icon--up {
  > *:first-child {
    @apply text-gray-500
  }
}

.table__sort-icon--down {
  > *:last-child {
    @apply text-gray-500
  }
}

.table__data {
  @apply bg-white px-4 py-3 border-b border-b-gray-200 !h-[55px];
}

.table__row {
  @apply text-sm;

  &:last-child {
    .table__data {
      @apply first:rounded-bl-lg last:rounded-br-lg;
    }
  }
}

.table--paginated .table__row:last-child {
  .table__data {
    @apply border-b-0 first:rounded-bl-none last:rounded-br-none;
  }
}

.table__menu {
  @apply relative flex justify-center;
}

.table__menu-check {
  @apply opacity-0 absolute pointer-events-none;
  &:checked {
    ~ .table__menu-toggle {
      @apply bg-gray-100;
    }
    ~ .dropdown--bottom {
      @apply opacity-100 translate-y-0 pointer-events-auto;
    }
  }
}

.table__menu-toggle {
  @apply w-[30px] h-[30px] flex items-center justify-center rounded-lg cursor-pointer text-gray-500 hover:bg-gray-100;
  transition: background-color 0.2s;
}

.table__footer {
  @apply px-4 py-6 bg-white
  border border-gray-200 rounded-b-lg
  flex flex-wrap justify-between items-center;
}

.table_link {
  @apply w-fit max-w-full text-primary-800 truncate cursor-pointer;
}

.table__with-input {
  td {
    @apply !h-[55px];
  }

  td:has(input) {
    @apply py-2;

    input {
      @apply !h-[38px]
    }
  }
}

div[id$="-filters-list"] > div {
  @apply h-[39px]
}
