.tabs__items {
  @apply flex items-stretch gap-x-8;
}

.tabs__item {
  &.is-active {
    .tabs__link {
      @apply text-primary-800;
      &::before {
        @apply transform scale-x-100;
      }
    }
  }
}

.tabs__link {
  @apply flex relative text-gray-500 text-sm font-medium pb-4 hover:text-primary-800;
  transition: color 0.3s ease-in-out;
  &::before {
    @apply absolute bottom-0 left-0 w-full h-[1px] bg-primary-800 transform scale-x-0;
    content: "";
    transition: transform 0.3s ease-in-out;
  }
}
