html,
body,
#page {
  @apply h-full;
}

body {
  @apply bg-gray-800 text-gray-300;
  font-family: "Space Grotesk";
  --gradient--primary: linear-gradient(97deg, #7F96FF -3.51%, #F58E8E 109.45%);
}

html, body {
  overscroll-behavior-y: none;
}

.container {
  @apply mx-auto;
}

#thread-container {
  @apply h-full w-full md:flex items-start overflow-hidden;
}

.flex-container {
  @apply flex items-center gap-x-4;
}

.grecaptcha-badge {
  visibility: hidden;
}

*[data-tooltip-text]:after {
  content: attr(data-tooltip-text);
  position: fixed;
  @apply bg-gray-900 border border-gray-700 text-white text-xs px-2 py-1 rounded-lg max-w-[300px] text-wrap pointer-events-none hidden md:block;
  --translate-y: calc(-100% - 8px);
  transform: translate(-50%, var(--translate-y));
  z-index: 99;
  opacity: 0;
  transition: opacity 0s;
  transition-delay: 0s;
}

*[data-tooltip-text][data-tooltip-break-word]:after {
  @apply break-all;
}

*[data-tooltip-text]:hover:after {
  opacity: 1;
  transition: opacity 0.3s;
  transition-delay: 0.5s;
  cursor: default;
  pointer-events: none;
}

pre {
  @apply my-1 relative;
  background-color: #282C34;

  code {
    @apply overflow-auto scrollbar block w-full p-2
  }
}

pre button[data-value] {
  @apply absolute top-1 right-1 hidden opacity-0;
  transition: opacity 0.3s;
}

pre:hover button[data-value] {
  @apply block opacity-100;
}

/* div with content editable -> disable outline on focus */
[contenteditable]:focus {
  outline: none;
}
